// 10-15 variables
$light-background: #fffa;
$border-radius: 15px;
$fonts: Arial, Helvetica;
$font-size: 2.2em;
$hide: hidden;
$fill-container: 100%;
$page-width: 100vw;
$back: -1;
$title-size: 2.2em;
$header-label-size: 1.3em;