// 10-15 variables
$light-background: #fffa;
$border-radius: 15px;
$fonts: Arial, Helvetica, sans-serif;
$hide: hidden;
$fill-container: 100%;
$page-width: 100vw;
$back: -1;
$title-size: 2.2em;
$header-label-size: 1.3em;
$header-dev-size: 1.2em;

// 10-15 nested selectors, with at least 2 uses of the SCSS ampersand (&)
body {

    header {

        .score {

            #h-score {

            } 
            #h-score-sign {
                
            }
            #c-score {

            }
            #c-score-sign {

            }
        }
        .title {

            h1 {

            }
            #dev {

            }
        }
    }
    .background {

        #background-image {

        }
    }
    #game-items {

    }
    #winning-msg {

        #msg {
            &-2 {
                
            }
            &-3 {

            }
            &-4 {

            }
        }
        #go {

        }
    }
    footer {

        #floor {

        }
        #attribute {

        }
    }
}

// 3-5 SCSS mixins


// 2-4 SCSS functions


// 2-4 instances of SCSS flow control directives or operators


// 3-5 SCSS partial files, imported


// One of the SCSS error-handling directives
