body {
    max-width: 100vw;
    overflow: hidden;
}

/* Title */

header {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff7;
}

h1,
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

/* Background setup */

.background {
    position: absolute;
    z-index: -1;
    width: 100vw;
}

#background-image {
    width: 1800px;
    position: absolute;
    top: -630px;
    left: -140px;
}

/**** bird ****/
#game-items {
    position: fixed;
    width: 100%;
    height: 473px;
    overflow: hidden;
}

/** game msg **/

#winning-msg {
    background-color: #fff7;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    width: 40vw;
    height: 472px;
    text-align: center;
    left: 30vw;
}

.message, 
#msg, 
button {
    display: flex;
}