body {
    max-width: 100vw;
    overflow: hidden;
    text-shadow: 0px 2px 2px #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/* Title */

header {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #fffa;
    border-radius: 15px;
    padding: 0% 10%;
    max-height: 128.85px;
    
}

.score {
    font-size: 1.2em;
    font-weight: 900;
    min-width: 15%;
}

#dev {
    font-weight: 550;
    font-size: 1.2em;
}

h1{
    font-size: 2.2em;
}

/* Background setup */

.background {
    position: absolute;
    z-index: -1;
    width: 100vw;
}

#background-image {
    width: 1800px;
    position: absolute;
    top: -630px;
    left: -140px;
}

/**** bird ****/
#game-items {
    position: fixed;
    width: 100%;
    height: 473px;
    overflow: hidden;
}

/** game msg **/

#winning-msg {
    background-color: #fff3;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    height: 450px;
    text-align: center;
    left: 35vw;
    bottom: 97px;
    border-radius: 15px;
    
}

#msg {
    font-weight: 900;
    font-size: 1.8em;
}
#msg-2,
#msg-3,
#msg-4 {
    font-weight: 550;
    font-size: 1.2em;
    padding: 0em 2em;
}

#go {
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 550;
    box-shadow: 0px 2px 3px;
    border-radius: 50%;
    padding: 2%;
    background: rgb(54,157,248);
    background: linear-gradient(0deg, #6D96C5 0%, #B0D6FC 100%);
}